<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container *ngFor="let column of columnsToDisplay">
    <ng-container matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef> {{ column[0].toUpperCase() + column.slice(1) }} </th>
      <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element" class="actors-table__button">
      <button mat-icon-button aria-label="expand row"
        (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
      </button>

      <button mat-button [disabled]="!dataSource.length" (click)="removeActor(element)">
        X
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <app-year-expand [years]="getYears(element.performances)" [details]="getInfo(element.performances)">
        </app-year-expand>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>


<!-- (click)="expandedElement = expandedElement === element ? null : element" -->
