<div class="container">
  <app-header></app-header>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab class="tab" label="Actors">
      <button mat-raised-button (click)="openActorDialog()">Add New Actor</button>

      <h2>Actors list</h2>

      <app-actors-table></app-actors-table>
    </mat-tab>

    <mat-tab label="Performances">
      <button mat-raised-button (click)="openPerformanceDialog()">Add New Performance</button>

      <h2>Performances list</h2>

      <app-performance-table></app-performance-table>
    </mat-tab>
  </mat-tab-group>
</div>
