
.form-performances {
  width: 100%;
  padding: 20px 0 0;

  &__container {
    display: flex;
    gap: 2%;
  }

  &__cast {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: stretch;
  }

  &__button {
    margin: 0 10px 20px 0;
  }
}

mat-form-field {
  color: var(--mdc-filled-text-field-label-text-color);
}

// src/app/components/form-field-performances/form-field-performances.component.scss

// Стиль заголовка
h1 {
  font-size: 24px;
  color: #3f51b5; // Колір заголовка
  margin-bottom: 20px;
  text-align: center; // Вирівнювання по центру
}

// Стиль вмісту
.mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 15px; // Проміжок між елементами форми
  padding: 20px; // Внутрішній відступ
}

// Стиль кнопок
.mat-dialog-actions {
  display: flex;
  justify-content: space-between; // Розподілення кнопок по краях
  margin-top: 20px;
  padding: 0 20px; // Внутрішній відступ

  button {
    margin-left: 10px;
  }
}

// Додаткові стилі для форми
.performance-form-field {
  display: flex;
  flex-direction: column;
  gap: 10px; // Проміжок між полями вводу
}

// Загальний стиль для модального вікна
.custom-modal {
  background: #fff; // Білий фон
  border-radius: 10px; // Закруглені кути
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); // Тінь
  padding: 20px;
}


mat-form-field {
  width: 120px; // Робить поля вводу шириною на весь контейнер
}

