.form-performances {
  padding: 20px 0 0;

  &__container {
    display: flex;
    gap: 2%;
  }

  &__cast {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: stretch;
  }

  &__submit-button {
    margin: 0 10px 20px 0;
  }
}


mat-form-field {
  color: var(--mdc-filled-text-field-label-text-color);
}
