<form class="form-performances" [formGroup]="performanceForm" (ngSubmit)="addPerformance()">
  <button (click)="toggleIsForm()" mat-raised-button class="form-performances__submit-button" type="submit">
    {{isForm ? 'Hide Form' : 'Add Performance'}}
  </button>

  <button *ngIf="isForm" mat-flat-button class="form-performances__submit-button" type="submit">
    Add
  </button>

  <div *ngIf="isForm" class="form-performances__container">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Year</mat-label>
      <input matInput formControlName="year">

    </mat-form-field>

    <mat-form-field>
      <mat-label>Budget</mat-label>
      <input matInput formControlName="budget">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Role</mat-label>
      <input matInput formControlName="role">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contract Value</mat-label>
      <input matInput formControlName="contractValue">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Actors</mat-label>
      <mat-select formControlName="cast" multiple>
        <mat-option *ngFor="let actor of actors" [value]="actor._id">
          {{actor.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</form>
