<form [formGroup]="performanceForm" (ngSubmit)="createPerformance()">
  <div>
    <button mat-raised-button type="button" (click)="addActor()">Add Actor</button>
    <button mat-raised-button type="submit" [disabled]="performanceForm.invalid">Add
      Performance</button>
  </div>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Year</mat-label>
    <input matInput formControlName="year" type="number">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Budget</mat-label>
    <input matInput formControlName="budget" type="number">
  </mat-form-field>

  <div formArrayName="cast">
    <div *ngFor="let actorGroup of cast.controls; let i = index" [formGroupName]="i">
      <mat-form-field>
        <mat-label>Actor</mat-label>
        <mat-select formControlName="actorId">
          <mat-option *ngFor="let actor of actors" [value]="actor._id">{{ actor.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Role</mat-label>
        <input matInput formControlName="role">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Annual Contract Value</mat-label>
        <input matInput formControlName="annualContractValue" type="number">
      </mat-form-field>

      <button mat-icon-button color="warn" (click)="removeActor(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</form>
