<form class="form-actors" [formGroup]="actorForm" (ngSubmit)="createActor()">
  <button (click)="toggleIsForm()" mat-raised-button class="form-actors__submit-button" type="submit">
    {{isForm ? 'Hide Form' : 'Add Actor'}}
  </button>

  <button *ngIf="isForm" mat-flat-button class="form-actors__submit-button" [disabled]="actorForm.invalid"
    type="submit">
    Add
  </button>

  <div *ngIf="isForm" class="form-actors__container">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">

    </mat-form-field>

    <mat-form-field>
      <mat-label>Middle Name</mat-label>
      <input matInput formControlName="middleName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rank</mat-label>
      <mat-select formControlName="rank">
        <mat-option value="Honorary">Honorary</mat-option>
        <mat-option value="Merited">Merited</mat-option>
        <mat-option value="National">National</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Experience</mat-label>
      <input matInput formControlName="experience" type="number">
    </mat-form-field>
  </div>
</form>
