table {
  width: 100%;
  border-top: 0px solid #80f3ff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

th {
  font-weight: 700;
  font-size: 16px;
}

td {
  font-weight: 500;
  font-size: 14px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #e2fcff;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #cffbff;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.table-buttons {
  margin-top: 2%;
  display: flex;
  gap: 10px;
}

.mat-mdc-button:not(:disabled) {
  color: var(--mdc-filled-text-field-error-label-text-color);
}

.mat-mdc-button>.mat-icon {
  margin: 0;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 8px;
}

.mat-mdc-header-row {
  color: var(--mat-optgroup-label-text-color);
  background-color: #80f3ff;
}
