<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required type="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" required type="password">
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit" [disabled]="!signupForm.valid">Sign Up</button>

  <div class="additional-options">
    <a routerLink="/login">Log in</a>
  </div>
</form>
